<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>云雀管理系统</title>

  <script type="text/javascript" th:src="@{/js/jquery/jquery-3.2.1.min.js}"
          src="../../static/js/jquery/jquery-3.2.1.min.js"></script>
  <!-- bootstrap -->
  <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}"
        href="../../static/css/bootstrap/bootstrap.min.css"/>
  <!-- bootstrap-treeview -->
  <link rel="stylesheet" href="../../static/css/bootstrap-treeview/bootstrap-treeview.css"
        th:href="@{/css/bootstrap-treeview/bootstrap-treeview.css}"/>

  <script type="text/javascript" src="../../static/js/bootstrap-treeview/bootstrap-treeview.js"
          th:src="@{/js/bootstrap-treeview/bootstrap-treeview.js}"></script>

</head>
<body>
<div class="container-fluid">
  <!-- header -->
  <div class="row-fluid" style="background-color: #2AABD2; min-height: 100px; overflow: hidden;">
    <div class="text-center h2">云雀管理系统</div>
  </div>
  <!-- center -->
  <div style="margin-top: 10px">
    <!-- center left -->
    <div style="width: 240px; float: left; margin-right: 10px">
      <div>
        <div id="menuTree"></div>
      </div>
    </div>
    <!-- center right -->
    <div class="text-center" style="overflow: hidden">
      <script>
          function setIframeHeight(iframe) {
              if (iframe) {
                  var iframeWin = iframe.contentWindow || iframe.contentDocument.parentWindow;
                  if (iframeWin.document.body) {
                      var height = iframeWin.document.documentElement.scrollHeight || iframeWin.document.body.scrollHeight;
                      if (iframe.height !== 'undefined' && iframe.height < height) {
                          iframe.height = Math.max(height, 800);
                      }
                  }
              }
          }
      </script>
      <iframe style="width: 100%; display: none;" frameborder="0" scrolling="no" id="centerFrame"
              onload="setIframeHeight(this)" src="">
      </iframe>
      <script type="text/javascript">
          window.setInterval("setIframeHeight(document.getElementById('centerFrame'))", 1000);//定时去检查iframe的高度,这样保证时时都是自动高了
      </script>
    </div>
  </div>
  <!-- footer -->
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-inner navbar-content-center" style="padding: 10px; margin: auto">
      <div class="text-muted credit text-center">
        &copy; 泉轲信息管理有限责任公司
      </div>
    </div>
  </nav>
</div>
<script th:inline="javascript">
    var menuTreeData = [[${menuTreeData}]];
</script>
<script>
    function showCenterFrame(url) {
        $("#centerFrame").show();
        $("#centerFrame").attr("src", url);
    }
    function getTree() {
        return menuTreeData;
    }
    function collapseAll() {
        $('#menuTree').treeview('collapseAll', {silent: true});
    }
    function expandNode(tree, node) {
        $('#menuTree').treeview('expandNode', [node.nodeId, {silent: tree}]);
    }
    var tree = $('#menuTree').treeview({
        color: "#428bca",
        expandIcon: 'glyphicon glyphicon-chevron-right',
        collapseIcon: 'glyphicon glyphicon-chevron-down',
        nodeIcon: 'glyphicon glyphicon-bookmark',
        data: getTree(),
        selectable: false,
        onNodeSelected: function (event, node) {
            if (node.href !== '/') {
                showCenterFrame(node.href);
            }
            expandNode(this, node);
        },
        onNodeUnselected: function (event, node) {
            if (node.href !== '/') {
                showCenterFrame(node.href);
            }
            expandNode(this, node);
        }
    });
</script>
</body>
</html>