<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wayne.sparrow.app.mapper.system.SysAuthorizationMapper">
  <sql id="User_Role_Column_List">
    id, user_id, role_id, status, date_modify, date_created
  </sql>

  <sql id="Role_Resource_Column_List">
    id, role_id, role_code, resource_id, resource_url, date_modify, date_created
  </sql>

  <insert id="insertBathSysPermission">
    INSERT INTO role_resource (
      role_id, role_code, resource_id, resource_url, date_modify, date_created
    ) VALUES
    <foreach collection="list" item="entity" separator=",">
      (#{entity.sysRole.id}, #{entity.sysRole.code}, #{entity.sysResource.id}, #{entity.sysResource.url}, #{entity.dateModify}, #{entity.dateCreated})
    </foreach>
  </insert>

  <insert id="insertBathSysAuthorization">
    INSERT INTO user_role (
    user_id, role_id, status, date_modify, date_created
    ) VALUES
    <foreach collection="list" item="entity" separator=",">
      (#{entity.sysUser.id}, #{entity.sysRole.id}, #{entity.status}, #{entity.dateModify}, #{entity.dateCreated})
    </foreach>
  </insert>
  
  <select id="listCurrentUserResource" parameterType="java.lang.Long" resultMap="com.wayne.sparrow.app.mapper.system.SysResourceMapper.BaseResultMap">
    SELECT DISTINCT
      <include refid="com.wayne.sparrow.app.mapper.system.SysResourceMapper.Base_Column_List"/>
    FROM
      user_role
      INNER JOIN role_resource ON user_role.role_id = role_resource.role_id
      INNER JOIN sys_resource ON role_resource.resource_id = sys_resource."id"
    WHERE user_id = #{userId} AND user_role.status = 0
  </select>

  <select id="listUserRole" parameterType="java.lang.Long" resultMap="com.wayne.sparrow.app.mapper.system.SysRoleMapper.BaseResultMap">
    SELECT DISTINCT
    <include refid="com.wayne.sparrow.app.mapper.system.SysRoleMapper.Base_Column_List"/>
    FROM
    user_role
    INNER JOIN sys_role ON user_role.role_id = sys_role.id
    WHERE user_role.user_id = #{sysUserId} AND user_role.status = 0
  </select>

  <resultMap id="SysPermission" type="com.wayne.sparrow.app.pojo.SysPermission">
    <id column="id" jdbcType="BIGINT" property="id"/>
    <result column="date_modify" jdbcType="TIMESTAMP" property="dateModify"/>
    <result column="date_created" jdbcType="TIMESTAMP" property="dateCreated"/>
    <association property="sysRole" resultMap="com.wayne.sparrow.app.mapper.system.SysRoleMapper.BaseResultMap"/>
    <association property="sysResource" resultMap="com.wayne.sparrow.app.mapper.system.SysResourceMapper.BaseResultMap"/>
  </resultMap>

  <select id="listAllPermission" resultMap="SysPermission">
    SELECT
    role_resource.id, role_resource.date_modify, role_resource.date_created,
    <include refid="com.wayne.sparrow.app.mapper.system.SysRoleMapper.Base_Column_List"/>,
    <include refid="com.wayne.sparrow.app.mapper.system.SysResourceMapper.Base_Column_List"/>
    FROM role_resource
    INNER JOIN sys_role ON sys_role."id" = role_resource.role_id
    INNER JOIN sys_resource ON role_resource.resource_id = sys_resource."id"
  </select>

  <select id="findUserGrantedRoleIds" parameterType="java.lang.Long" resultType="java.lang.Long">
    SELECT DISTINCT user_role.role_id
    FROM user_role
    WHERE user_role.user_id = #{sysUserId}
  </select>

  <select id="findResourceIdsByRoleId" parameterType="java.lang.Long" resultType="java.lang.Long">
    SELECT DISTINCT role_resource.resource_id
    FROM role_resource
    WHERE role_resource.role_id = #{sysRoleId}
  </select>

  <delete id="deleteSysAuthorizationBySysRoleId" parameterType="java.lang.Long">
    DELETE FROM user_role
    WHERE user_role.user_id = #{sysUserId}
  </delete>

  <delete id="deletePermissionBySysRoleId" parameterType="java.lang.Long">
    DELETE FROM role_resource
    WHERE role_resource.role_id = #{sysRoleId}
  </delete>

</mapper>