<!DOCTYPE HTML>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" content="text/html; charset=utf-8" />
  <title>系统资源输入</title>
  <script type="text/javascript" src="../../static/js/jquery/jquery-3.2.1.min.js"
          th:src="@{/js/jquery/jquery-3.2.1.min.js}"></script>
  <!-- bootstrap -->
  <link rel="stylesheet" href="../../static/css/bootstrap/bootstrap.min.css"
        th:href="@{/css/bootstrap/bootstrap.min.css}" />

  <link rel="stylesheet" href="../../static/css/bootstrap-treeview/bootstrap-treeview.css"
        th:href="@{/css/bootstrap-treeview/bootstrap-treeview.css}"/>
  <link rel="stylesheet" href="../../static/css/common.css" th:href="@{/css/common.css}">

</head>
<body>
<div>
  <!-- title -->
  <div>
    <p class="text-center text-muted h3">系统资源输入</p>
  </div>
  <hr width="80%" />
  <div class="container">
    <form id="sysResourceForm" method="post" class="form-horizontal" action="save">
      <input type="hidden" name="id" th:value="${sysResource?.id}" />
      <div class="form-group">
        <label class="col-lg-3 control-label"><span class="non-empty">*</span>资源名称:</label>
        <div class="col-lg-5">
          <input type="text" class="form-control" name="name" th:value="${sysResource?.name}"/>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-3 control-label"><span class="non-empty">*</span>资源URL:</label>
        <div class="col-lg-5">
          <input type="text" class="form-control" name="url" th:value="${sysResource?.url}"/>
        </div>
      </div>

      <div class="form-group">
        <label for="pname" class="col-lg-3 control-label">上级资源:</label>
        <div class="col-lg-5">
          <input type="hidden" name="pid" th:value="${sysResource?.pid}"/>
          <input id="pname" type="text" class="form-control" style="background-color: white;" name="pname" onfocus="Panel.show();" readonly="true"/>
          <div id="pResTree" style="display: none;"></div>
        </div>
      </div>

      <div class="form-group">
        <label for="type" class="control-label col-lg-3"><span class="non-empty">*</span>资源类型:</label>
        <div class="col-lg-5">
          <select name="type" id="type" class="form-control">
            <option value="" style="display:none">请选择</option>
            <option value="1" th:selected="${sysResource?.type == 1} ? selected">菜单</option>
            <option value="2" th:selected="${sysResource?.type == 2} ? selected">功能点</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-3 control-label"><span class="non-empty">*</span>Weight:</label>
        <div class="col-lg-5">
          <input type="text" class="form-control" name="weight" th:value="${sysResource}? sysResource.weight:'0'"/>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-3 control-label">资源编码:</label>
        <div class="col-lg-5">
          <input type="text" class="form-control" name="code" th:value="${sysResource?.code}"/>
        </div>
      </div>

      <div class="form-group">
        <label for="" class="control-label col-md-3"><span class="non-empty">*</span>状态:</label>
        <div class="radio col-md-2">
          <label>
            <input type="radio" name="status" value="0" th:checked="${((sysResource == null) or (sysResource.status == 0))} ?  checked" /> 启用
          </label>
        </div>
        <div class="radio col-md-2">
          <label>
            <input type="radio" name="status" value="1" th:checked="${sysResource?.status == 1} ? checked" /> 禁用
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-9 col-lg-offset-3">
          <button type="submit" class="btn btn-primary">保 存</button>
        </div>
      </div>
    </form>
  </div>
</div>
<script th:src="@{/js/jquery/jquery.validate.min.js}" src="../../static/js/jquery/jquery.validate.min.js"></script>
<script th:src="@{/js/jquery/jquery.form.min.js}" src="../../static/js/jquery/jquery.form.min.js"></script>
<script type="text/javascript" src="../../static/js/bootstrap-treeview/bootstrap-treeview.js"
        th:src="@{/js/bootstrap-treeview/bootstrap-treeview.js}"></script>
<script src="http://cdn.cdnjs.net/jquery-bgiframe/3.0.1/jquery.bgiframe.js"></script>
<script type="text/javascript" src="../../static/js/pointer-popup.js" th:src="@{/js/pointer-popup.js}"></script>
<script type="text/javascript" src="../../static/js/shake.js" th:src="@{/js/shake.js}"></script>
<script>
    $("#sysResourceForm").validate({
        errorClass: "help-block",
        focusInvalid: true,
        rules:{
            name: {
                required: true,
                rangelength:[1,200]
            },
            url: {
                required: true,
                maxlength: 8000
            },
            pname: "required",
            type: "required",
            weight: {
                required: true,
                digits: true
            },
            status: "required"
        },
        errorPlacement: function (error, element) {
            var formGroup = ($(element).parents(".form-group"));
            formGroup.removeClass("has-success");
            formGroup.addClass("has-error");
            $(error).insertAfter($(element));
        },
        highlight: function (element, errorClass) {
            $(element).shake(3, 5, 150);
        },
        success: function (element) {
            var formGroup = ($(element).parents(".form-group"));
            formGroup.removeClass("has-error");
            formGroup.addClass("has-success");
        },
        submitHandler: function (form) {
            $(form).ajaxSubmit({
                url: "save",
                type: "POST",
                success: function (msg) {
                    alert(msg.message);
                    window.location.reload();
                }
            });
        }
    });
</script>
<script th:inline="javascript">
  var resourceData = [[${resourceData}]];
</script>
<script>
  var treePanel;
  function getTree() {
      return resourceData;
  }
  var tree = $('#pResTree').treeview({
      color: "#428bca",
      expandIcon: 'glyphicon glyphicon-chevron-right',
      collapseIcon: 'glyphicon glyphicon-chevron-down',
      nodeIcon: 'glyphicon glyphicon-bookmark',
      showIcon: false,
      showCheckbox: false,
      showBorder: false,
      data: getTree(),
      onNodeSelected: function (event, node) {
          $("#pname").val(node.text);
          $("#pid").val(node.id);
          Panel.hide();
          $("#sysResourceForm").validate().element($("#pname"));
      }
  });
  var Panel={
      show:function(){
          if (typeof(treePanel) === "undefined"){
              //弹出框
              treePanel=$("#pname").popup('pResTree',300, 400);
              $("#pResTree").show();
          }
          treePanel.show();
      },
      hide:function(){
          treePanel.hide();
      }
  };
</script>
</body>
</html>